$borderStyle: 1px solid #666;

svg {
    margin: 20px auto;
    min-height: 320px;
    min-width: 600px;
    overflow: visible;
    position: relative;
    .dot {
        fill: #454545;
    }
    .x.axis text {
        transform: rotate(-45deg) translate(-35px, 0);
    }
}

.chartContainer {
    border-top: 1px solid;
    margin: 16px 0;
    padding: 24px 0;
    position: relative;

    .tooltip {
        background-color: #fefefe;
        border-radius: 4px;
        border: $borderStyle;
        font-size: 17px;
        left: -9999px;
        opacity: 0;
        padding: 4px 12px;
        position: absolute;
        transition: 300ms opacity;
        z-index: 1;
        width: 165px;
    }
    .tooltip:after {
        background: inherit;
        border-bottom: $borderStyle;
        border-right: $borderStyle;
        content: '';
        display: block;
        height: 10px;
        left: 75px;
        position: absolute;
        top: auto;
        transform: rotate(45deg);
        width: 10px;
        z-index: -1;
    }
}