ul.dropdownList {
    background: #fff;
    border: 1px solid lightgray;
    display: block;
    list-style-type: none;
    max-height: 275px;
    min-width: 262px;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    top: 50px;
    z-index: 999;
    li {
        padding: 8px;
        cursor: pointer;
    }
    li:hover {
        background: #ababab;
    }
}