form {
    p {
        margin: 16px 0 0;
    }

    .checkboxes {
        display: flex;
        flex-wrap: wrap;
        .checkbox {
            border-radius: 4px;
            border: 1px solid #f0f0f0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 4px 8px;
            min-width: fit-content;
            padding: 4px 12px;
            input {
                align-self: center;
                margin-left: 8px;
            }
        }
    }

    .dateFields {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        padding: 16px 0;
    }

    button {
        background: #0049b0;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        height: 40px;
        margin-top: 16px;
        width: 200px;
    }

    em {
        font-size: 12px;
    }
    .formLabel {
        margin: 0;
    }
    .dateInterval {
        display: flex;

        .intervalField {
            display: flex;
            margin-left: 12px;

            label,
            input {
                align-self: center;
            }
            input {
                margin: 0;
            }
            label {
                margin-left: 4px;
            }
        }

        input[type='number'] {
            max-width: 64px;
            border-radius: 5px;
            border: 1px solid #ababab;
            font-size: 16px;
            height: 40px;
            padding: 0 8px;
        }
    }
}
