div.dateInput {
    margin-right: 12px;
    width: 262px;
    label, input {
        display: block;
    }
    input {
        border-radius: 5px;
        border: 1px solid #ababab;
        font-size: 16px;
        height: 40px;
        padding: 8px;
        width: 100%;
    }
}